/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Colors */
:root {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);

    --trans-white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}

/* Style */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    padding: 88px 0;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: var(--light-gray);
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

p{
    color: var(--trans-white);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.6;
    padding-bottom: 30px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    max-width: 327px;
    min-height: 442px;
    margin-top: 100px;
    padding: 48px 50px;
    border:1px solid black;
    border-radius: 10px;
}

#sedans {
    background-color: var(--orange);
}

#suvs {
    background-color: var(--cyan);
}

#luxury {
    background-color: var(--dark-cyan);  
}

/* Buttons */
.btn {
    background-color: var(--light-gray);
    font-family: 'Lexend Deca', sans-serif;
    padding: 18px 30px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.btn-sedans {
    color: var(--orange);
}

.btn-suvs {
    color: var(--cyan);
}

.btn-luxury {
    color: var(--dark-cyan);
}

/* Images */
.box__img {
   width: 65px;
   height: 40px;
   color: var(--trans-white);
   margin-bottom: 44px;
   background-repeat: no-repeat; 
}

/* Media Queries */
@media only screen and (min-width: 1000px) {
    body {
        padding: 0;
    }

    .boxes {
        flex-direction: row;
        height: 100vh;
    }

    p {
        line-height: 1.6;
        padding-bottom: 64px;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}