@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --font-size: 1rem;
    --font-family: 'Outfit', sans-serif;
    --font-regular: 400;
    --font-bold: 700;
}

.round {
    border-radius: 1rem;
}

.container {
    position: relative;
    padding-bottom: 2.5rem;
    width: 25%;
    background-color: var(--White);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Light-gray);
}

.pic_container {
  padding: 1rem;
}

.pic_container img {
    display: block;
    width: 100%;
    height: auto;
}

.text_container {
    text-align: center;
}

.text_container h1 {
    margin-bottom: .75rem;
    color: var(--Dark-blue);
    font-size: calc(var(--font-size) * 1.25);
    font-family: var(--font-family);
    font-weight: var(--font-bold);
    word-spacing: 1pt;
}

.text_container h2 {
    color: var(--Grayish-blue);
    font-size: calc(var(--font-family) * .95);
    font-family: var(--font-family);
    font-weight: var(--font-regular);
}

@media screen and (max-width: 424px) {
    .container {
        width: 90%;
    }
}

@media screen and (width: 375px) {
    .container {
        width: 82%;
    }
}

@media screen and (width: 425px) {
    .container {
        width: 75%;
    }
}

@media screen and (width: 768px) {
    .container {
        width: 70%;
    }
}

@media screen and (width: 1024px) {
    .container {
        width: 32%;
    }
}

@media screen and (width: 1440px) {
    .container {
        width: 22%;
    }
}

@media screen and (min-width: 1441px) {
    .container {
        width: 12%;
    }
}