.main {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color:hsl(217, 54%, 11%);
    width: 600px;
    border: 1px solid black;
    color: white;

}

.nft-image img {
    width: 300px;
    height: auto;
} 